<div class="user-profile">
  <div class="container">
    <div class="user-image">
      <div class="glyphicon glyphicon-user text-center"></div>
    </div>
    <p><%= @user.name %></p>
    <p><%= @user.email %></p>
  </div>
</div>
