<div class="user-profile">
  <div class="container">
    <div class="profile-header">
      <div class="user-image pull-left">
        <div class="glyphicon glyphicon-user text-center"></div>
      </div>
      <div id="user-credentials">
        <h1><%= @user.name %></h1>
        <p><%= @user.email %></p>
      </div>
    </div>
    <hr />
    <h2 class="text-center">My Lists</h2>
    <div class="card-group">
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>List Title</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>    
              <li>List Item 5</li> 
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left">6 out of 10</div>
            <div class="pull-right more"><a href="#">...show more</a></div>
          </div>
        </div>
      </a>
      <!-- End Card -->
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>List Title</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>    
              <li>List Item 5</li> 
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left">6 out of 10</div>
            <div class="pull-right more"><a href="#">...show more</a></div>
          </div>
        </div>
      </a>
      <!-- End Card -->
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>List Title</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>    
              <li>List Item 5</li> 
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left">6 out of 10</div>
            <div class="pull-right more"><a href="#">...show more</a></div>
          </div>
        </div>
      </a>
      <!-- End Card -->
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>List Title</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>    
              <li>List Item 5</li> 
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left">6 out of 10</div>
            <div class="pull-right more"><a href="#">...show more</a></div>
          </div>
        </div>
      </a>
      <!-- End Card -->
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>List Title</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>    
              <li>List Item 5</li> 
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left">6 out of 10</div>
            <div class="pull-right more"><a href="#">...show more</a></div>
          </div>
        </div>
      </a>
      <!-- End Card -->
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>List Title</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>    
              <li>List Item 5</li> 
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left">6 out of 10</div>
            <div class="pull-right more"><a href="#">...show more</a></div>
          </div>
        </div>
      </a>
      <!-- End Card -->
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>List Title</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>    
              <li>List Item 5</li> 
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left">6 out of 10</div>
            <div class="pull-right more"><a href="#">...show more</a></div>
          </div>
        </div>
      </a>
      <!-- End Card -->
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>List Title</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>    
              <li>List Item 5</li> 
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left">6 out of 10</div>
            <div class="pull-right more"><a href="#">...show more</a></div>
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
</div>
