<li>
  <div class="col-md-1">
    <%= link_to "", item_path(item.id), class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: "This cannot be undone! Are you sure?" }, remote: true %>
  </div>
  <div id="item-<%= item.id %>" class="completed-item">
    <%= item.name %>
  </div>
</li>