<%= form_for [item] do |f| %>
 <div class="form-group">
   <%= f.label :name, class: 'sr-only' %>
   <%= f.text_field :name, class: 'form-control', placeholder: "Enter a new item", :required => 'required' %>
 </div>
 <div class="text-center">
   <%= f.submit "Add Item", class: 'btn btn-default' %>
 </div>
<% end %>