#main-content .forms {
  
  background: #fcfcfc; 
  border: 40px solid #99D9EA;
  margin-top: 85px;
  padding: 50px 50px 50px 50px;
  border-radius: 3px;
  
  h2 {
    margin-bottom: 20px;
    font-size: 50px;
  }

  .devise-links {
    color: #000;
    font-weight: bold;
  }
  
}