#main-content {
    
  .new-item {
    width: 80%;
    margin: 20px auto 10px auto;
    display: none;
  }
  
  .glyphicon-remove {
    color: #B23535;
  }
  
  .js-item a:hover, .js-item a:focus, .js-item a:active {
    text-decoration: none;
  }
  
  .completed-item {
    text-decoration: line-through;
    color: gray;
  }
    
}