// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-content {
  
  .jumbotron {
    background-image: url(woodfloor.jpg);
    opacity: 0.6;
    background-size: cover;
    min-height: 550px;
    color: #000;
    border-bottom: 1px solid #000;
  }
  
  .jumbotron .container {
    background-color:rgba(192,192,192,0.5);
    margin-top: 30px;
    padding: 15px 20px 20px 15px;
    border: 15px solid #FDFDFD;
    -webkit-box-shadow: -2px 17px 28px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 17px 28px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 17px 28px -1px rgba(0,0,0,0.75);
  }
  
  .jumbotron h1 {
    font-size: 150px;
  }
  
  .jumbotron p {
    font-size: 60px;
  }
  
  
    
  .you-emphasis {
   color: yellow;
  }
  
  .call-to-action {
  }

  .call-to-action-text {
    font-size: 50px;
    padding-top: 10px;
  }
  
  .call-to-action-text a:hover, .call-to-action-text a:active, .call-to-action-text a:focus {
    text-decoration: none;
  }
  
  #create-account-text {
    font-size: 75px;
    padding-top: 50px;
  }

  #create-account-text a:hover, #create-account-text a:active, #create-account-text a:focus {
    text-decoration: none;
  }

  
  .glyphicon-list {
    font-size: 175px;
    color: #72E5BE;
    padding: 20px;
    padding: 10px 40px 0px 0px;
  }

  .glyphicon-check {
    font-size: 175px;
    color: #65CC65;
    padding: 10px 40px 0px 30px;
  }

  .glyphicon-gift {
    font-size: 175px;
    color: #9975B9;
    padding: 10px 0px 0px 40px;
  }

}

